<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../favicon.ico">
<title>Adminux by maxartkiller</title>
<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="../vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../vendor/bootstrap-4.1.1/css/bootstrap.css" type="text/css">

<!-- DataTables Responsive CSS -->
<link href="../vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="../vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">

<!-- jvectormap CSS -->
<link href="../vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">

<!-- Adminux CSS -->
 <link rel="stylesheet" href="../css/light_adminux.css" type="text/css">
</head>
<body class="menuclose menuclose-right">
<!-- Page Loader -->
<div class="loader_wrapper align-items-center text-center">
  <div class="load7 load-wrapper">
    <img src="../img/logo.png" alt="" class="loading_img">
    <div class="loader"> Loading... </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-white">Petal of Flower</h4>
    <p>Awesome things are getting ready...</p>
  </div>
</div>
<!-- Page Loader Ends -->

<header class="navbar-fixed">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <div class="sidebar-left"> <a class="navbar-brand imglogo" href="index.html"></a>
      <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" ><span class="fa fa-bars"></span></button>
    </div>
    <form class="form-inline mr-sm-2  pull-left search-header hidden-md-down">
      <input class="form-control " type="text" placeholder="Search" id="search_header">
      <button class="btn btn-link icon-header " type="submit"><span class="fa fa-search"></span></button>
    </form>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" style="animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;"><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>          
        </div>
      </div>
    <div class="d-flex mr-auto"> &nbsp;</div>
    <ul class="navbar-nav content-right">
      <li class="align-self-center hidden-md-down"> <a  href="https://themeforest.net/item/adminux-dashboard-responsive-html/19761213?ref=Maxartkiller" class="btn btn-sm btn-primary mr-2"><span class="fa fa-shopping-basket "></span> Buy Now!</a> </li>
      <li class="v-devider"></li>
      <li class="nav-item active">
        <button class="btn btn-link icon-header "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-envelope-o"></span> <span class="badge-number bg-success"></span></button>
        <div class="dropdown-menu message-container">
          <div class="list-unstyled"> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
            </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Max Smith</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
            </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Astha Smith</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
            </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Tommy Cruszii</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
            </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Max Smith</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
            </a> </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bell-o"></span><span class="badge-number bg-danger"></span></button>
        <div class="dropdown-menu message-container">
          <div class="list-unstyled">
            <div class="media"> <span class="alert-block bg-primary"><span class="fa fa-bullhorn"></span></span>
              <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
            </div>
            <div class="media"> <span class="alert-block bg-warning"><span class="fa fa-bell-o"></span></span>
              <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
            </div>
            <div class="media"> <span class="alert-block bg-danger"><span class="fa fa-exclamation-triangle"></span></span>
              <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
            </div>
            <div class="media">
              <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
            </div>
            <div class="media">
              <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item hidden-xs-down">
        <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-th"></span> </button>
        <div class="dropdown-menu message-container box-links">
          <div class="list-unstyled"> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bullhorn"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bell-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-calendar"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-id-card"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-handshake-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-camera-retro"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-flask"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-plane"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-pie-chart"></span></span> </a> </div>
        </div>
      </li>
      <li class="v-devider"></li>
      <li class="nav-item "> <a class="btn btn-link icon-header menu-collapse-right" href="#"><span class="fa fa-podcast"></span> </a> </li>
    </ul>
    <div class="sidebar-right pull-right " >
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item">
          <button class="btn-link btn userprofile"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="userpic"><img src="../img/user-header.png" alt="user pic"></span> <span class="text">Maxartkiller</span></button>
          <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="#">Analytics Report</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Setting</a> </div>
        </li>
        <li><a href="@Url.Action("Logout","Account")" class="btn btn-link icon-header" ><span class="fa fa-sign-out"></span></a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="sidebar-left">
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <button class="media btn btn-link dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span> <span class="media-body"> <span class="mt-0 mb-1">Maxartkiller</span> <small>New Jersey, UK.</small> </span> </button>
      <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item" href="#">Preferances</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Setting</a> </div>
    </div>
  </div>
  <br>
  <ul class="nav flex-column in" id="side-menu">
    <li class="title-nav">MENU</li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Dashboard<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class=" nav-item"><a  href="/User" class="nav-link "><i class="fa fa-user"></i> User</a></li>
        <li class=" nav-item"><a  href="index.html" class="nav-link "><i class="fa fa-globe"></i> Menufacturing</a></li>
        <li class="nav-item"><a class="nav-link" href="networking.html"><i class="fa fa-dashboard"></i> Networking</a></li>
        <li class="nav-item"><a class="nav-link" href="entertainment.html"><i class="fa fa-play"></i> Entertainment</a></li>
        <li class="nav-item"><a class="nav-link" href="social.html"><i class="fa fa-bullhorn"></i> Social</a></li>
        <li class="nav-item"><a class="nav-link" href="todo_task.html"><i class="fa fa-check-square-o"></i> ToDo</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">App Pages<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="in nav-item"><a  href="inbox.html" class="nav-link ">Mailbox</a></li>
        <li class="nav-item"><a  href="chat.html" class="nav-link ">Chat app</a></li>
<li class="in nav-item"><a  href="inbox_full.html" class="nav-link ">Mailbox full</a></li>
        <li class="nav-item"><a  href="chat_full.html" class="nav-link ">Chat app full</a></li>
        <li class="nav-item"><a  href="file_manager.html" class="nav-link ">File Manager</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Forum Module <span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a class="nav-link" href="forum.html">Forum</a></li>
            <li class="nav-item"><a class="nav-link" href="forum_details.html">Forum Deatails</a></li>
            <li class="nav-item"><a class="nav-link" href="forum_topic_details.html">Forum Topic Details</a></li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
        <li class="nav-item"><a class="nav-link" href="userlist.html">User List</a></li>
        <li class="nav-item"><a class="nav-link" href="socialprofile.html">Social Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="calendar.html">Calendar</a></li>
        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="contactus.html">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="blogs.html">Blogs</a></li>
        <li class="nav-item"><a class="nav-link" href="blogdetails.html">Blog Details</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">eCommerce <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li  class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
        <li  class="nav-item"><a class="nav-link" href="product_details.html">Product Details</a></li>
         
        <li  class="nav-item"><a class="nav-link" href="orderstatus.html">Order status</a></li>
        <li  class="nav-item"><a class="nav-link" href="checkout.html">Checkout/Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="invoice.html">Invoice 1<sup>st</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="invoice2.html">Invoice 2<sup>nd</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="customerprofile.html">Customer Profile</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Other Pages <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="blank.html">Blank Page</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Sign in <i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a class="nav-link" href="sign-in1.html">Sign in 1</a></li>
            <li class="nav-item"><a class="nav-link" href="sign-in2.html">Sign in 2</a></li>
            <li class="nav-item"><a class="nav-link" href="sign-in3.html">Sign in 3</a></li>
            <li class="nav-item"><a class="nav-link" href="sign-in4.html">Sign in 4</a></li>
            <li class="nav-item"><a class="nav-link" href="sign-in5.html">Sign in 5</a></li>
            <li class="nav-item"><a class="nav-link" href="sign-in6.html">Sign in 6</a></li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
        <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Register <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="sign-up1.html">Register 1</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up2.html">Register 2</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up3.html">Register 3</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up4.html">Register 4</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up5.html">Register 5</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up6.html">Register 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Reset Password <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="reset_password1.html">Reset Password 1</a></li>
          <li class="nav-item"><a class="nav-link" href="reset_password2.html">Reset Password 2</a></li>
          <li class="nav-item"><a class="nav-link" href="reset_password3.html">Reset Password 3</a></li>
          <li class="nav-item"><a class="nav-link" href="reset_password4.html">Reset Password 4</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
        <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Lock<i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a class="nav-link" href="lock1.html">Lock 1</a></li>
            <li class="nav-item"><a class="nav-link" href="lock2.html">Lock 2</a></li>
            <li class="nav-item"><a class="nav-link" href="lock3.html">Lock 3</a></li>
            <li class="nav-item"><a class="nav-link" href="lock4.html">Lock 4</a></li>
            <li class="nav-item"><a class="nav-link" href="lock5.html">Lock 5</a></li>
            <li class="nav-item"><a class="nav-link" href="lock6.html">Lock 6</a></li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
        <li class="nav-item"><a class="nav-link" href="404.html">404 1<sup>st</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="404_2.html">404 2<sup>nd</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="500.html">500 1<sup>st</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="500_2.html">500 2<sup>nd</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="searchresult.html">Search Result</a></li>
        <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
        <li class="nav-item"><a class="nav-link" href="commingsoon.html">Coming Soon 1<sup>st</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="commingsoon2.html">Coming Soon 2<sup>nd</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="commingsoon3.html">Coming Soon 3<sup>rd</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="cookie.html">Cookie</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Charts &amp; Maps<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="flotjs.html">Flot Charts</a> </li>
        <li class="nav-item"><a class="nav-link" href="morrisjs.html">Morris.js Charts</a></li>
        <li class="nav-item"><a class="nav-link" href="chartjs.html">Chart.js Charts</a></li>
        <li class="nav-item"><a class="nav-link" href="amchart.html">amCharts</a></li>
        <li class="nav-item"><a class="nav-link" href="jvectormap.html">jVectormap</a></li>
        <li class="nav-item"><a class="nav-link" href="googlemap.html">Google map 1<sup>st</sup></a></li>
        <li class="nav-item"><a class="nav-link" href="google_map_half.html">Google map 2<sup>nd</sup></a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Landing pages <span class="badge badge-primary ml-2">Free</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="../landing_pages/landing1.html" target="_blank">Font-end 1</a></li>
        <li class="nav-item"><a class="nav-link" href="../landing_pages/landing2.html" target="_blank">Font-end 2</a></li>
        <li class="nav-item"><a class="nav-link" href="../landing_pages/landing3.html" target="_blank">Font-end 3</a></li>
        <li class="nav-item"><a class="nav-link" href="../landing_pages/landing4.html" target="_blank">Font-end 4</a></li>
      </ul>
    </li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Layout<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="in nav-item"><a  href="left-menu-only.html" class="nav-link ">Left Sidebar only</a></li>
         <li class="in nav-item"><a  href="fixedheader.html" class="nav-link ">Fixed Header</a></li>
        <li class="in nav-item"><a  href="scrollheader.html" class="nav-link ">Hide Header</a></li>
        <li class="in nav-item"><a  href="boxedlayout.html" class="nav-link ">Boxed Page</a></li>
        <li class="in nav-item"><a  href="boxedlayout_fixed_header.html" class="nav-link ">Boxed + Header fix</a></li>
        <li class="in nav-item"><a  href="horizontalnav.html" class="nav-link ">Horizontal Menu</a></li>
        <li class="in nav-item"><a  href="rounded.html" class="nav-link ">More Rounded</a></li>
        <li class="in nav-item"><a  href="rtl_read.html" class="nav-link ">RTL</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Icons <span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class="nav-item"><a class="nav-link" href="icons.html">Font awesome</a></li>
        <li class="nav-item"><a class="nav-link" href="icon_themify.html">Themify icons</a></li>
        <li class="nav-item"><a class="nav-link" href="icon_weather.html">Weather icons</a></li>
        <li class="nav-item"><a class="nav-link" href="flags.html">Flags icons</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown">Controls Library <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="wizards.html">Wizards</a></li>
        <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
        <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
        <li class="nav-item"><a class="nav-link" href="accordion.html">Accordion</a></li>
        <li class="nav-item"><a class="nav-link" href="Tabs.html">Tabs</a></li>
        <li class="nav-item"><a class="nav-link" href="buttons.html">Buttons</a></li>
        <li class="nav-item"><a class="nav-link" href="alerts_notes.html">Alerts and Notes</a></li>
        <li class="nav-item"><a class="nav-link" href="breadcrumb.html">BreadCrumb</a></li>
        <li class="nav-item"><a class="nav-link" href="modal.html">Modal</a></li>
        <li class="nav-item"><a class="nav-link" href="popover.html">Popover</a></li>
        <li class="nav-item"><a class="nav-link" href="typography.html">Typography</a></li>
        <li class="nav-item"><a class="nav-link" href="grid.html">Grid</a></li>
        <li class="nav-item"><a class="nav-link" href="progressbar.html">Progress bar</a></li>
        <li class="nav-item"><a class="nav-link" href="rangeslider.html">Range Slider</a></li>
        <li class="nav-item"><a class="nav-link" href="dropdown.html">Dropdown</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown">Advance Controls<span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="multiselect.html">Multi Select</a></li>
        <li class="nav-item"><a class="nav-link" href="picker.html">Picker</a></li>
        <li class="nav-item"><a class="nav-link" href="clipboard.html">Clipboard</a></li>
        <li class="nav-item"><a class="nav-link" href="autocomplete.html">Autocomplete</a></li>
        <li class="nav-item"><a class="nav-link" href="switch.html">Switch</a></li>
        <li class="nav-item"><a class="nav-link" href="contextmenu.html">Context Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="ckeditor.html">ckeditor</a></li>
        <li class="nav-item"><a class="nav-link" href="notifications.html">Toast Message</a></li>
        <li class="nav-item"><a class="nav-link" href="treeview.html">Tree View</a></li>
        <li class="nav-item"><a class="nav-link" href="dragable.html">Dragable/Sortable</a></li>
        <li class="nav-item"><a class="nav-link" href="tour_intro.html">Tour/Intro</a></li>
        <li class="nav-item"><a class="nav-link" href="loaders.html">Loaders</a></li>
        <li class="nav-item"><a class="nav-link" href="dropzone.html">Dropzone js</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
      
    <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown">Classic Forms<span class="badge badge-success ml-2">Trending</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="form_credit_card2.html">Crefit Card Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_credit_card.html">Crefit Card Form 2</a></li>
        <li class="nav-item"><a class="nav-link" href="form_donation.html">Donation Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_authorization.html">Authority Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_employee_review.html">Employee review Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_profile_info.html">Profile Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_survay_review.html">Survay Form</a></li>
        <li class="nav-item"><a class="nav-link" href="form_booking.html">Booking Form</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
      
    <li class="title-nav">
      <hr>
    </li>
    <li class="title-nav">icon + MENU</li>
    <li  class="nav-item"> <a class="nav-link" href="tables.html"><i class="fa fa-table left-icon square"></i>Tables</a> </li>
    <li  class="nav-item"> <a class="nav-link" href="datatables.html"><i class="fa fa-th left-icon square"></i>DataTables</a> </li>
    <li  class="nav-item"> <a class="nav-link" href="footable.html"><i class="fa fa-file-o left-icon circle"></i>FooTables</a> </li>
    <li class="nav-item"> <a class="nav-link" href="forms.html"><i class="fa fa-file-o left-icon circle"></i>Forms</a> </li>
    <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown ">Multi-Level Dropdown<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
        <!-- .nav-third-level menudropdown2 -->
        <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Third Level <i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column in" >
    <li class="title-nav">Activity States</li>
    <li class="nav-item "><a href="#" class="nav-link"><span><span class="dynamicsparkline2">Loading..</span> </span><br>
      Daily activity</a></li>
  </ul>
  <hr>
  <ul class="nav flex-column in">
    <li class="title-nav">Next Meeting</li>
    <li class="nav-item "> 
<div class="nav-link">
    <h5>12:30 PM, Today <span class="fa fa-bell-o pull-right"></span></h5>
    <span class="meeting-subject">Agenda: Team mnufacturing review meeting. Board Compulsory</span> 
    <div class="">
      <button class="btn btn-outline-success btn-round mr-sm-2">Snooz</button>
      <button class="btn btn-outline-danger btn-round ">Dismiss</button>
    </div>
    </div>
  </li>
  </ul>
  <br>
  <br>
</div>
<div class="wrapper-content">
  <div class="container">
    @RenderBody()
  </div>
  <footer class="footer-content ">
    <div class="container ">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-16 col-lg-8 col-xl-8">Back Office based on AdminUX template</div>
      </div>
    </div>
  </footer>
</div>
<div class="sidebar-right">
  <ul class="nav flex-column " >
    <li class="nav-item text-center">
      <div class="progressprofile">
        <div class="progress_profile " data-value="0.65"  data-size="140"  data-thickness="4"  data-animation-start-value="0" data-reverse="false" ></div>
        <div class="user-details">
          <figure><img src="../img/user-header.png" alt="complete profile"></figure>
          <h5>65%</h5>
          <p class="">Completed</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="meeting-subject text-center col ">You have lots of oopportunity and <br>
        other information pending  to recieve</div>
      <div class="nav-link"><a href="customerprofile.html" class="btn btn-outline-primary btn-round mr-sm-2">Complete your profile <i class="fa fa-chevron-right"></i></a></div>
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column " >
    <li class="title-nav">New Friend Request</li>
    <li class="nav-item">
      <div class="list-unstyled media-list">
        <div class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
            New Jersey, UK</div>
          <div class="overlay align-items-end">
            <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
            <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
          </div>
        </div>
        <div class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"><span class="user-status bg-success "></span></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Astha Smith</h6>
            Ahemedabad, IN</div>
          <div class="overlay align-items-end">
            <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
            <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column " >
    <li class="title-nav">New Event Request</li>
    <li class="nav-item">
      <div class="list-unstyled media-list"> <a href="#" class="media">
        <div class="media-body">
          <h6 class="mt-0 mb-1">20 February, 2017</h6>
          New Jersey, UK <br>
          <p class="description">Musical night festival seasons, Drama and comedy cultural famil</p>
        </div>
        </a> <a href="#" class="media">
        <div class="media-body">
          <h6 class="mt-0 mb-1">20 February, 2017</h6>
          New Jersey, UK <br>
          <p class="description">Musical night festival seasons, Drama and comedy cultural famil</p>
          <p class="description"> <span>Privately invited by:</span> <span class="invites-by"><img src="../img/user-header.png" alt="complete profile"> <span class="user-status bg-success "></span></span> <span class="invites-by"><img src="../img/user-header.png" alt="complete profile"></span> <span class="invites-by"><img src="../img/user-header.png" alt="complete profile"></span> </p>
        </div>
        </a> </div>
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column " >
    <li class="title-nav">Last Message</li>
    <li class="nav-item">
      <div class="list-unstyled media-list">
        <div class="media"> <span class="message_userpic"><img class="d-flex" src="../img/user-header.png" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Rahul Akshay</h6>
            2:00 pm, 20 January, 2017 <br>
            <p class="description">Hi! Are you ready for Musical night festival seasons, Drama and comedy cultural family show.</p>
            <button class="btn btn-outline-primary btn-round mr-sm-2"><i class="fa fa-reply"></i> Reply</button>
            <button class="btn btn-outline-danger btn-round ">Close</button>
          </div>
        </div>
      </div>
      <div class="nav-link"></div>
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column " >
    <li class="title-nav text-center">Advertising space</li>
    <li class="nav-item">
      <div class="list-unstyled"> <a href="http://www.maxartkiller.in" target="_blank" class="media text-center"> <span class="col text-center"><img class="" src="../img/advertise_maxartkiller_ui-ux.png" alt="advertise maxartkiller ui ux creative design"></span> <br>
        </a> </div>
      <a href="http://www.maxartkiller.in" target="_blank" class="nav-link text-center">www.maxartkiller.in</a> </li>
  </ul>
  <br>
  <br>
</div>
<!-- themepicker modal starts -->
<div class="modal fade" id="themepicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select your Preferances</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <table class="table color_pick_table mb-0">
          <thead>
            <tr>
              <th class="p-0"></th>
              <th class="p-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">Fills</td>
              <td>
                   <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#fullcolored" role="tab"><img src="../img/Layout_Fill_all.png" alt="" class="responsive-img"></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#headersidebarfill" role="tab"><img src="../img/Layout_Fill_side_header.png" alt="" class="responsive-img"></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#sidebarfill" role="tab"><img src="../img/Layout_Fill_side.png" alt="" class="responsive-img"></a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div class="tab-pane active" id="fullcolored" role="tabpanel">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens12.png" alt="" class="color_pick"><br><span>White</span></span> 
                            </label>   
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="lightblue_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens14.png" alt="" class="color_pick"><br><span>Lightblue</span></span> 
                            </label>   
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_blue_adminux" name="color_pick" >
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens1.png" alt="" class="color_pick"><br><span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_purple_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens7.png" alt="" class="color_pick"><br><span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_red_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens8.png" alt="" class="color_pick"><br><span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_grey_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens9.png" alt="" class="color_pick"><br><span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_green_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens10.png" alt="" class="color_pick"><br><span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_brown_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens11.png" alt="" class="color_pick"><br><span>Brown</span></span> 
                            </label>                              
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="../img/screens15.png" alt="" class="color_pick"><br><span>Blue</span></span> 
                            </label>
                        </div>
                      <div class="tab-pane" id="headersidebarfill" role="tabpanel">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_header_sidebar_adminux" name="color_pick"  checked>
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens15.png" alt="" class="color_pick"><br>
                                <span>Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+blue_header_sidebar_adminux" name="color_pick" >
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens1.png" alt="" class="color_pick"><br>
                                <span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+purple_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens7.png" alt="" class="color_pick"><br>
                                <span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+red_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens8.png" alt="" class="color_pick"><br>
                                <span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+grey_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens9.png" alt="" class="color_pick"><br>
                                <span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+green_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens10.png" alt="" class="color_pick"><br>
                                <span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+brown_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/2screens11.png" alt="" class="color_pick"><br>
                                <span>Brown</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/screens12.png" alt="" class="color_pick"><br>
                                <span>White</span></span> 
                            </label> 
                        
                        </div>
                        <div class="tab-pane" id="sidebarfill" role="tabpanel"> 
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens15.png" alt="" class="color_pick"><br>
                                <span> Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+blue_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens1.png" alt="" class="color_pick"><br>
                                <span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+purple_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens7.png" alt="" class="color_pick"><br>
                                <span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+red_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens8.png" alt="" class="color_pick"><br>
                                <span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+grey_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens9.png" alt="" class="color_pick"><br>
                                <span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+green_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens10.png" alt="" class="color_pick"><br>
                                <span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+brown_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/themes/3screens11.png" alt="" class="color_pick"><br>
                                <span>Brown</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="../img/screens12.png" alt="" class="color_pick"><br>
                                <span>White</span></span> 
                            </label>
                        </div>
                    </div>

                  
                  
                </td>
            </tr>
            <tr>
              <td>Reading</td>
              <td>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-reading" name="read_style" data-reading="ltr-read" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="../img/Layout_LTR.png" alt="" class="color_pick"><br><span>Left to Right</span></span> 
                  </label>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-reading" name="read_style" data-reading="rtl-read">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="../img/Layout_RTL.png" alt="" class="color_pick"><br><span>Right to Left</span></span> 
                  </label>
                </td>
            </tr>
            <tr>
              <td>Display</td>
              <td>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-rounded" name="display_mode"  data-rounded="" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="../img/Layout_Flat_corner.png" alt="" class="color_pick"><br><span>Flat Corner</span></span> 
                  </label>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-rounded" data-rounded="rounded" name="display_mode">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="../img/Layout_more_rounded.png" alt="" class="color_pick"><br><span>More Rounded</span></span> 
                  </label>    
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- themepicker modal ends here ! --> 

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> 

<script src="../vendor/bootstrap-4.1.1/js/bootstrap.min.js" type="text/javascript"></script> 
    
<!--Cookie js for theme chooser and applying it --> 
<script src="../vendor/cookie/jquery.cookie.js"  type="text/javascript"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>

<!-- Circular chart progress js --> 
<script src="../vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script> 

<!--sparklines js--> 
<script type="text/javascript" src="../vendor/sparklines/jquery.sparkline.min.js"></script> 

<!-- jvectormap JavaScript --> 
<script src="../vendor/jquery-jvectormap/jquery-jvectormap.js"></script> 
<script src="../vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> 

<!-- chart js --> 
<script src="../vendor/chartjs/Chart.bundle.min.js" type="text/javascript"></script> 
<script src="../vendor/chartjs/utils.js" type="text/javascript"></script> 

<!-- spincremente js --> 
<script src="../vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script> 

<!-- DataTables JavaScript --> 
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script> 
<script src="../vendor/datatables/js/dataTables.bootstrap4.js"></script> 
<script src="../vendor/datatables/js/dataTables.responsive.min.js"></script> 

<!-- custome template js --> 
<script src="../js/adminux.js" type="text/javascript"></script> 
<script src="../js/dashboard1.js"></script>
</body>
</html>