    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Users</h3>
        <p>Users management</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Need Approve <small>Users</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>User </th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Project</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td><img src="../img/product1.jpg" alt="" class="gridpic">Strobarry milk</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm ">Edit</a> <a href="" class="btn btn-link btn-sm">Details</a> <a href="" class="btn btn-link btn-sm">Delete</a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="/User/Edit" class=" btn btn-link btn-sm ">Edit</a> <a href="/User/Details" class="btn btn-link btn-sm">Details</a> <a href="/User/Delete" class="btn btn-link btn-sm">Delete</a> </td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">10</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Lucky Sans</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">19</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status danger">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">17</td>
                  <td class="center"><span class="status danger">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status danger">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">20</td>
                  <td class="center"><span class="status warning">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status warning">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Lucky Sans</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status primary">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status primary">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
          <div class="card-footer"><a type="button" href="/User/Create" class="btn btn-primary">Create User</a></div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Approved <small>Users</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>User </th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Project</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td><img src="../img/product1.jpg" alt="" class="gridpic">Strobarry milk</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">10</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Lucky Sans</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">19</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status danger">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">17</td>
                  <td class="center"><span class="status danger">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status danger">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Alone Guy</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">20</td>
                  <td class="center"><span class="status warning">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">Astha Smith</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status warning">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="odd">
                  <td><img src="../img/team.png" alt="" class="gridpic">Lucky Sans</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status primary">Inactive</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
                <tr class="even ">
                  <td><img src="../img/team.png" alt="" class="gridpic">John Doe</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status primary">Active</span></td>
                  <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>